<div class="fixed">
    <div class="nav">   
        <img src="img/logo.png" alt="" class="logo">      
        <a href="index.html">Skills</a>
        <a href="teams.html">Teams</a>
        <a href="reclutas.html">Reclutas</a>   
        <a href="modulos.html">Módulos Skills</a>
        <a href="evaluaciones.html">Evaluaciones</a>
    </div> 
</div>

<style>
    .logo{
        height: 80px;
        padding: 10px ;
        padding-right: 60px;       
        transition: 0.5s;
    }
    
    .logo:hover{
       filter: invert(1);
       transition: 0.5s;
    }

    .nav {   
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav a {
        display: flex;
        color: #ddd6d6;
        font-weight: bold;
        padding: 14px 40px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        border-radius: 15px;
        transition: 0.5s;
       
    }

    .nav a:hover {
        background-color: #dddddd83;
        border-radius: 30px;
        transition: 0.5s;
        color: rgb(0, 0, 0);
    }

    @media  (max-width: 600px) {
        .nav {
            flex-direction: column;
            align-items: center;
        }
        .nav a {
            font-size: 15px;
            font-weight: bold;
        }
        .logo{
            display: none;
        }
    }
</style>